@import 'lenis/dist/lenis.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: theme('colors.mist.900');
    --text-secondary: theme('colors.mist.700');
    --text-tertiary: theme('colors.mist.600');
  }

  .dark {
    --text-primary: theme('colors.mist.200');
    --text-secondary: theme('colors.mist.300');
    --text-tertiary: theme('colors.mist.400');
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: 'HW Cigars';
  src: url('/fonts/hwcigars-book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HW Cigars';
  src: url('/fonts/hwcigars-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
