@import "tailwindcss";
@import "./fonts.css";

@theme {
  /*--font-sans: "iA Writer Mono", "sans-serif";*/
  /* --font-sans: "iA Writer Duo", "sans-serif"; */
  /*--font-sans: "iA Writer Quattro", "sans-serif";*/

  /* --font-serif: "IBM Plex Serif", "serif"; */
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: var(--font-serif); */
  /*font-weight: 600;*/
}

@layer base {
  html {
    /* font-size: 16px; */
    color: var(--color-stone-800);
    @media (prefers-color-scheme: dark) {
      color: var(--color-stone-50);
    }
  }

  @media (prefers-color-scheme: dark) {
    html {
      color: var(--color-stone-200);
    }
  }
}

@utility text-primary {
  color: var(--color-stone-800);
  @variant dark {
    color: var(--color-stone-100);
  }
}

@utility text-secondary {
  color: var(--color-stone-600);
  @variant dark {
    color: var(--color-stone-400);
  }
}

@utility text-link {
  /* color: var(--color-red-800); */
  opacity: 90%;
  @variant dark {
    /* color: var(--color-red-400); */
    opacity: 60%;
  }
}

@utility text-yellow {
  /* color: var(--color-yellow-600); */
  opacity: 70%;

  @variant dark {
    /* color: var(--color-yellow-400); */
    opacity: 70%;
  }
}