---
import { getCollection, getEntry, render } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Divider from '../components/Divider.astro'
import TableOfContents from '../components/TableOfContents.astro'
import Prose from '../components/Prose.astro'

const posts = await getCollection('post')

const entry = await getEntry('page', 'gear')
const { Content: About, components, headings } = await render(entry)
---

<Layout extended title="Gear">
  <div class="flex flex-col pt-12 gap-4">
    <section class="gap-4 flex flex-col">
      <h1 class="text-2xl">What I Use</h1>
      <p>
        A somewhat exhaustive list of the software, hardware, and miscellaneous
        tools that I use on a daily basis.
      </p>

      <TableOfContents headings={headings} />
      <Divider />
    </section>
    <section class="w-full max-w-[80ch] mx-auto flex flex-col pt-8">
      <Prose Content={About} components={components} />
    </section>
  </div>
</Layout>
