---
export const prerender = true;

import SidebarLayout from '../layouts/SidebarLayout.astro';
import Text from '../components/Text.astro';
import WorkEntry from '../components/WorkEntry.astro';
import HorizontalScroller from '../components/HorizontalScroller.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import DPL from '../assets/dontpaniclabs.svg';
import Archrival from '../assets/archrival.svg';
import Spreetail from '../assets/spreetail.svg';
import Meta from '../assets/meta.svg';
import Homebound from '../assets/homebound.svg';
---

<SidebarLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Text variant="headline1" as="h1" class="text-primary">{SITE_TITLE}</Text>
	<Text variant="body1" class="mt-2 text-secondary">
		Software engineer in Lincoln, Nebraska
	</Text>

	<HorizontalScroller class="mt-10">
		<WorkEntry company="Homebound" title="Staff Software Engineer" href="https://homebound.com">
			<span class="h-full dark:invert"><Homebound /></span>
		</WorkEntry>
		<WorkEntry company="Meta" title="Software Engineer" href="https://meta.com">
			<Meta />
		</WorkEntry>
		<WorkEntry company="Spreetail" title="Senior Software Engineer" href="https://spreetail.com">
			<Spreetail />
		</WorkEntry>
		<WorkEntry company="Archrival" title="Software Engineer" href="https://archrival.com">
			<Archrival />
		</WorkEntry>
		<WorkEntry company="Don't Panic Labs" title="Engineering Intern" href="https://dontpaniclabs.com">
			<DPL />
		</WorkEntry>
	</HorizontalScroller>
</SidebarLayout>
