---
import Divider from "./Divider.astro";


---
<div transition:name="navbar" transition:persist
     class="w-full opacity-100 transition-opacity duration-500">
  <div
    class="grid grid-cols-[auto_1fr_auto] items-center h-24 gap-4">
    <div class="flex flex-row items-center h-full">
      <a href="/" class="text-xl ">
        <span class="hidden sm:inline">
        Henry Sipp
        </span>
        <span class="sm:hidden inline text-secondary">
          HS
        </span>
      </a>
    </div>

    <div class="text-lg flex flex-row items-center justify-center gap-3 sm:gap-6">
      <a
        class="text-primary hover:text-primary transition-colors duration-200"
        href="/about">About</a>
      <a
        class="text-primary hover:text-primary hover:dark:text-stone-50 transition-colors duration-200"
        href="/thoughts">Thoughts</a>
      <a
        class="text-primary hover:text-primary hover:dark:text-stone-50 transition-colors duration-200"
        href="/gear">Gear</a>
      <!--<a-->
      <!--  class="text-secondary hover:text-primary hover:dark:text-stone-50 transition-colors duration-200"-->
      <!--  href="/videos">Videos</a>-->
      <!-- <a
        class="text-primary hover:text-primary hover:dark:text-stone-50 transition-colors duration-200"
        href="/photography">Photos</a> -->
    </div>

    <div class="text-lg flex-col items-end hidden sm:flex">
      <a
        class="text-primary hover:text-primary hover:dark:text-stone-50 transition-colors duration-200"
        href="#">Social</a>
    </div>
  </div>

  <Divider />
</div>
