---
import Heading from './Markdown/Heading.astro'
import Heading2 from './Markdown/Heading2.astro'
import Paragraph from './Markdown/Paragraph.astro'
import Blockquote from './Markdown/Blockquote.astro'
import Anchor from './Markdown/Anchor.astro'
import List from './Markdown/List.astro'
import ListItem from './Markdown/ListItem.astro'

const { Content, components, dropCaps = false } = Astro.props
---

<style>
  .content {
    line-height: calc(var(--spacing) * 9);

    &.drop-cap p:first-child {
      text-indent: 0;
    }

    &.drop-cap > p:first-of-type:first-letter {
      float: left;
      font-size: var(--text-7xl);
      line-height: calc(var(--spacing) * 15);
      padding-right: calc(var(--spacing) * 2);
      padding-top: 0;
      -webkit-font-smoothing: subpixel-antialiased;
      font-weight: bold;
    }

    ul {
      list-style: unset !important;
      margin-top: calc(var(--spacing) * -2);
      padding-left: calc(var(--spacing) * 5);
      padding-bottom: calc(var(--spacing) * 4);
    }

    thead {
      border-bottom: 1px solid var(--color-stone-200);
    }

    @media (prefers-color-scheme: dark) {
      thead {
        border-bottom: 1px solid var(--color-stone-700);
      }
    }

    th, td {
      padding-right: calc(var(--spacing) * 4);
    }
  }

</style>

<div class={`${dropCaps ? 'drop-cap' : ''}`}>
  <Content components={{
    ...components,
    h1: Heading,
    h2: Heading2,
    p: Paragraph,
    blockquote: Blockquote,
    ul: List,
    li: ListItem,
    a: Anchor
  }} />
</div>