---
interface Props {
  size?: 'md' | 'lg';
  class?: string;
}

const { size = 'md', class: className } = Astro.props;

const sizeClasses = {
  md: 'text-lg/7',
  lg: 'text-xl/8 sm:text-2xl/9',
};
---

<div
  class:list={[
    sizeClasses[size],
    'text-gray-700',
    className,
  ]}
>
  <slot />
</div>