---
import { ClientRouter } from 'astro:transitions';
import BaseHead from '../components/BaseHead.astro';
import TopBar from '../components/TopBar.astro';
import PrimaryNav from '../components/PrimaryNav.astro';
import SecondaryNav from '../components/SecondaryNav.astro';
import PageContent from '../components/PageContent.astro';
import { primaryNav, type NavItem } from '../lib/nav';

interface Props {
	title: string;
	description: string;
	navItems?: NavItem[];
}

const { title, description } = Astro.props;
const navItems = Astro.props.navItems ?? primaryNav;
const hasList = Astro.slots.has('list');
---

<!doctype html>
<html lang="en" class="dark:bg-neutral-900" transition:animate="none">
	<head>
		<BaseHead title={title} description={description} />
		<ClientRouter />
	</head>
	<body class="min-h-screen h-full w-full bg-body">
		<TopBar items={navItems} />

		<div
			class:list={[
				'relative z-20 flex min-h-screen w-full flex-col pt-[var(--top-bar-height)] md:grid md:w-max md:min-w-full',
				hasList
					? 'md:grid-cols-[14rem_32rem_48rem]'
					: 'md:grid-cols-[14rem_48rem]',
			]}
		>
			<PrimaryNav items={navItems} />

			{hasList && (
				<SecondaryNav>
					<slot name="list" />
				</SecondaryNav>
			)}

			<PageContent>
				<slot />
			</PageContent>
		</div>
	</body>
</html>
